@using TicketEngineClassLibrary
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model List<Order>
@{
    ViewData["Title"] = "Orders";
}
<html>
<
@*@*<body>
  
        @if (Model != null)
        {
            foreach (Order order in Model)
            {
                
                    @*<td>@order.TransactionID</td>
                    <td>@order.BuyerLastName</td>
                    <td>@order.BuyerFirstName</td>
                    <td>@order.BuyerAddress</td>
                    <td>@order.BuyerCity</td>
                    <td>@order.PaymentStatus</td>
                    <td>@order.PaymentReferenceID</td>
                    <td>@order.TicketIDs</td>
                    <td>@order.BuyerEmailAddress</td>*@
                
        }
    </table>
</body>
</html>*@*@